.accordion {
  max-width: 800px;
  margin: 0 auto;
  transform: translateY(140px);
}

.title {
  transform: translateY(140px);
  text-align: center;
  margin-bottom: 50px;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}
